.product-container {
  width: 20%;
  padding: 10px;
  box-sizing: border-box;
  img {
    max-width: 100%;
    object-fit: cover;
    height: auto;
  }
  &:hover {
    box-shadow: 0 25px 20px 0 rgba(0, 0, 0, 0.05);
  }
}
