.right-container {
  display: flex;
  .icon-with-label {
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
    align-items: center;
    text-decoration: none;
    color: black;
    position: relative;
    .icon-label {
      font-size: 12px;
      font-weight: bold;
    }
    .count-container {
      position: absolute;
      color: white;
      font-size: 12px;
      height: 20px;
      width: 20px;
      background-color: #ff3e6c;
      border-radius: 50%;
      text-align: center;
      top: -3px;
      left: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  i {
    padding: 5px 20px;
  }
}
